<span class="cabecera">Playlist de canciones</span>
<ul class ="cancion">
    <li *ngFor= " let canciones of cancion"
      [class.selected]="canciones === selectedCancion"
      (click)="onSelect(canciones)">
      <span class="cancionPista" style="font-weight: bold;">{{canciones.pista}}</span>
      <span style="vertical-align: middle;">{{canciones.titulo}}</span>
      <span style="font-weight: bold;"> ({{canciones.autor}})&nbsp;</span>

    </li>
</ul>

<div *ngIf="selectedCancion">

    <h2>{{selectedCancion.titulo | uppercase}} </h2>
    <div>
      <span style="font-weight: bold;">Pista: </span>{{selectedCancion.pista}}
    </div>
    <br>
    <div>
      <label style="font-weight: bold;" for="cancion-name">Nombre cancion: </label>
      <input id="cancion-name" [(ngModel)]="selectedCancion.titulo" placeholder="name">
    </div>
    <br>
    <div>
      <label style="font-weight: bold;" for="cancion-autor">Autor: </label>
      <input id="cancion-autor" [(ngModel)]="selectedCancion.autor" placeholder="autor">
    </div>
    <br>
    <div>
      <label style="font-weight: bold;" for="cancion-año">Año: </label>
      <input id="cancion-Año" [(ngModel)]="selectedCancion.año" placeholder="año">
    </div>
    <br>
    <div>
      <label style="font-weight: bold;" for="cancion-disco">Disco: </label>
      <input id="cancion-disco" [(ngModel)]="selectedCancion.disco" placeholder="disco">
    </div>
    <br>
    <div>
      <label style="font-weight: bold;" for="cancion-estilo">Estilo: </label>
      <input id="cancion-estilo" [(ngModel)]="selectedCancion.estilo" placeholder="estilo">
    </div>
    <br>
</div>