.flex {
  display: flex;
}

.flex.flex-row {
  flex-direction: row;
}

.flex.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.w12 {
  width: 12%;
}

.w25 {
  width: 25%;
}
.w33 {
  width: 33.3%;
}

.w33calc {
  width: calc(33.3% - 20px);
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.w75 {
  width: 75%;
}

.w88 {
  width: 88%;
}

.w100 {
  width: 100%;
}

.w100calc {
  width: calc(100% - 20px);
}
