<mat-card class="info" *ngIf="song">
    <mat-card-header>
        <mat-card-title role="listitem"><q>{{song.author | uppercase}}</q></mat-card-title>
    </mat-card-header>
    <div class="example-input">
      <h4>Título:</h4>
      <mat-form-field class="example-title">
        <mat-label>Título</mat-label>
        <input matInput placeholder="Ex. Everything Feels New" value="{{song.title}}">
      </mat-form-field>
      <br>
      <h4>Álbum:</h4>
      <mat-form-field class="example-album">
        <mat-label>Álbum</mat-label>
        <input matInput placeholder="Ex. Evgeny Bardyuzha" value="{{song.album}}">
      </mat-form-field>
      <br>
      <h4>Género:</h4>
      <mat-form-field class="example-full-genre">
        <mat-label>Género</mat-label>
        <input matInput placeholder="Ex. Dance/Electronica" value="{{song.genre}}">
      </mat-form-field>
    </div>
    <mat-card-content>
      <p>Pista Nº: <mat-card-subtitle><i>{{song.track}}</i></mat-card-subtitle></p>
      <hr>
      <mat-list-item>
      <p>Duración: <mat-list-item><i>{{song.duration}}</i></mat-list-item></p>
      <p>Rating: <mat-list-item><i>{{song.rating}}</i></mat-list-item></p>
      <p>Año: <mat-list-item><i>{{song.year}}</i></mat-list-item></p>
    </mat-list-item>
    </mat-card-content>
</mat-card>


