<mat-card class="info" *ngIf="song">
    <mat-card-header>
        <mat-card-title role="listitem"><q>{{song.title | uppercase}}</q></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p><mat-card-subtitle><i>{{song.album}}</i></mat-card-subtitle></p>
      <p>by <strong>{{song.author}}</strong></p>
      <hr>
      <p>Género: <mat-card-subtitle><i>{{song.genre}}</i></mat-card-subtitle></p>
      <p>Duración <mat-card-subtitle><i>{{song.duration}}</i></mat-card-subtitle></p>
      <p>Año: <mat-card-subtitle><i>{{song.year}}</i></mat-card-subtitle></p>
    </mat-card-content>
</mat-card>
