<div class="container">
    <div *ngIf="selectedSong; else noSongSelected" class="cover">
        <img class="img" src="{{selectedSong?.cover_img}}" />
    </div>
    <ng-template #noSongSelected>
        <div>
            <span>No hay una canción seleccionada</span>
        </div>
    </ng-template>

    <div class="info">
        <div class="infoTitle">{{selectedSong?.title}}</div>
        <div class="infoAuthor">{{selectedSong?.author}}</div>
    </div>
    <div class="btn">
        <mat-icon class="material-icons" (click)="onRandomSong()"> shuffle </mat-icon>
        <mat-icon class="material-icons" (click)="onPreviousSong()"> skip_previous </mat-icon>
        <mat-icon class="material-icons" (click)="onStop()"> stop_circle </mat-icon>
        <!-- <mat-icon class="material-icons" (click)="playSong(song)">play_arrow</mat-icon> -->
        <mat-icon class="material-icons" (click)="onNextSong()"> skip_next </mat-icon>
    </div>
    <div class="btn">
        <audio class="player" src="{{selectedSong?.url}}" type="audio/mp3" controls autoplay></audio>
    </div>

</div>
