@import "../../../styles/flex.css";
@use "@angular/material" as mat;

@include mat.core();

.container {
  color: #fff;
  padding-left: 20px;
  height: calc(100% - 80px);
  flex: 1;
  height: 98%;
}

.list-title {
  flex: 2;
}

.content {
  height: 0;
  flex: 1;
}

.list {
  flex: 1;
  overflow-y: auto;
}

.list .list-header {
  padding-left: 20px;
}

.list table {
  width: 98%;
}

.separator {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.song-container {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px 5px;
  padding-left: 20px;
}

.song-container:hover {
  background-color: #16a085;
}

.mat-elevation-z8 {
  background-color: #2c3e50;
  outline: 2px solid #16a085;
}

.mat-row:hover .mat-cell {
  background-color: #16a085;
}

.headerBackground {
  background-color: #1f2b38;
}

#filter {
  margin-top: 2%;
}
.button {
  width: 30px;
  margin-right: 10px;
}
